{% extends "TopBarBase.html" %}

{% block content %}

<div class="navbar-inverse">
	<div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav side-nav">
            {% if page != None %}
            <li>
            {% else %}
            <li class="active">
            {% endif %}
                <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>

            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#sidebar_currency" data-proj-sidebar="Currency" >
                    <i class="fa fa-fw fa-dollar"></i> Currency<i class="fa fa-fw fa-caret-down"></i>
                </a>
                {% if page in "currency1,currency2" %}
                <ul id="sidebar_currency" class="collapse in" aria-expanded="true">
                {% else %}
                <ul id="sidebar_currency" class="collapse" aria-expanded="false">
                {% endif %}
                    {% if page == "currency1" %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="/currency/search"><i class="fa fa-fw fa-search"></i>
                            Many Factors
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-search"></i>
                            Many Currencies
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="" data-toggle="collapse" data-target="#sidebar_stock" data-proj-sidebar="Stock" >
                    <i class="fa fa-fw fa-bar-chart-o"></i> Stock<!-- <i class="fa fa-fw fa-caret-down"></i> -->
                </a>
            </li>
        </ul>
    </div>
</div>
{% block content2 %}
{% endblock content2 %}


<style type="text/css">
    .navbar-inverse .navbar-nav > ul {
        margin-bottom: 20px;
    }

    .navbar-inverse .navbar-nav > ul > li > a {
        color: #9d9d9d;
    }
</style>

{% endblock content %}
