<!DOCTYPE html>
{% extends "TopBarBase.html" %}

{% block content %}

<div class="page-wrapper">
	<div class="container">
		<div class="jumbotron">
			<h1 class="page-header">Thank you !!</h1>
			<p class="lead">
				Once again ! We appreatiate that you choose our tools to manage your projects. We will do our best to review your application. Once your account have been approved, you can start enjoying the convenience and benefits brougt by our tools !!
			</p>
			<p><a class="btn btn-lg btn-success" href="/" role="button">Return to Home</a></p>
		</div>
	</div>
</div>

{% endblock content %}